@using test.Models
@model FuncaoModel
@{
    ViewBag.Title = "Criação de Funções";
}


@using (Html.BeginForm("Salvar", "Funcao", FormMethod.Post, new { @id = "formFuncao" }))
{
<div>
    <div class="div-form mb-3">
        <div>
            <label class="lb-class">@Html.LabelFor(model => model.Nome)</label>
        </div>
        <div class="div-input-validatiton">
            <div>@Html.TextBoxFor(model => model.Nome, new { @class = "input", id = "nome" })</div>
            <div><span id="nomeAlert" class="text-danger size-text-danger"></span></div>
        </div>
    </div>
    <div class="div-form mb-3">
        <div>
            <label class="lb-class">@Html.LabelFor(model => model.Nome_Ingles)</label>
        </div>
        <div class="div-input-validatiton">
            <div>@Html.TextBoxFor(model => model.Nome_Ingles, new { @class = "input", id = "nome-ingles" })</div>
            <div><span id="nomeInglesAlert" class="text-danger size-text-danger"></span></div>
        </div>
    </div>
    <div class="div-form mb-3">
        <div>
            <label class="lb-class">@Html.LabelFor(model => model.Ativa)</label>
        </div>
        <div class="div-input-validatiton">
            <div>@Html.CheckBoxFor(model => model.Ativa, new { @class = "input", id = "ativa" })</div>
        </div>
    </div>
</div>
}
