@using test.DTOs;
@model EmpregadosDTO

@{
    ViewBag.Title = "Editar";
}
<form action="/MultiEmpresas/Alterar" id="formEdicaoMultiEmpresas" method="post">
    <div>
        <input type="hidden" name="ID" value="@Model.ID" id="id-edicao-me" />
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    CPF
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="cpf-edicao-me" name="CPF" value="@Model.CPF" onkeyup="mascara('###.###.###-##',this,event,true)" maxlength="14" required />
                </div>
                <div><span id="cpfAlertEdicaoMultiEmpresas" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Empresa
                </label>
            </div>
            <select class="input" id="selected-edicao-me" name="Empresa" value="@Model.RazaoSocial">
                @foreach (var empresa in ViewBag.Empresa)
                {
                    <option value="@empresa.ID" @Html.Raw(Model.Empresa == empresa.ID.ToString() ? "selected" : "")>@empresa.RazaoSocial</option>
                }
            </select>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-edicao-me" name="Nome" value="@Model.Nome" required />
                </div>
                <div><span id="nomeAlertEdicaoMultiEmpresas" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    RG ou Passaporte
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="rg-passaporte-edicao-me" name="RGPassaporte" value="@Model.RGPassaporte" onkeyup="mascara('##.###.###-#',this,event,true)" maxlength="12" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Data de Nascimento
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="date" class="input" id="data-nascimento-edicao-me" name="DataNascimento" value="@Model.DataNascimento.ToString("yyyy-MM-dd")" required />
                </div>
                <div><span id="dataNascAlertEdicaoMultiEmpresas" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Ultimo ASO
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="date" id="ultimo-aso-edicao-me" name="UltimoASO" value="@Model.UltimoASO.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Função
                </label>
            </div>
            <select name="NomeFuncao" class="input" id="funcao-edicao-me">
                @foreach (var funcao in ViewBag.Funcao)
                {
                    if (funcao.Ativo)
                    {
                        <option value="@funcao.Id" @Html.Raw(Model.NomeFuncao == @funcao.Id.ToString() ? "selected" : "")>@funcao.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Setor
                </label>
            </div>
            <select name="NomeSetor" class="input" id="setor-edicao-me">
                @foreach (var setor in ViewBag.Setor)
                {
                    if (setor.Ativo)
                    {
                        <option value="@setor.Id" @Html.Raw(Model.NomeSetor == @setor.Id.ToString() ? "selected" : "")>@setor.Nome</option>
                    }
                }
            </select>
        </div>
    </div>
</form>
