@using test.Models
@model SetorModel
@{
    ViewBag.Title = "Criação de Setores";
}


@using (Html.BeginForm("Salvar", "Setor", FormMethod.Post))
{
    <div>
        <h4>Criar Setor</h4>
    </div>
    <div>
        @Html.LabelFor(Model => Model.Nome)
        @Html.TextBoxFor(Model => Model.Nome)
    </div>
    <div>
        @Html.LabelFor(Model => Model.Nome_Ingles)
        @Html.TextBoxFor(Model => Model.Nome_Ingles)
    </div>
    <div>
        @Html.LabelFor(Model => Model.Ativa)
        @Html.CheckBoxFor(Model => Model.Ativa, true)
    </div>
    <div>
        <button type="submit" class="btn btn-default">Cadastrar</button>
        <button type="reset" class="btn btn-default">Cancelar</button>
    </div>
}


@*<form action="/Setor/Salvar" method="post">
        <div>
            <h4>Criar Setor</h4>
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label" id="nome">Nome</label>
            <input type="text" class="form-control" for="nome" id="nome" value="@Model.Nome">
        </div>
        <div class="mb-3">
            <label for="nome_ingles" class="form-label" id="nome_ingles">Name in English</label>
            <input type="text" class="form-control" for="nome_ingles" id="nome_ingles" value="@Model.Nome_Ingles">
        </div>
        <div class="mb-3 form-check">
            <label for="ativa" class="form-check-label" id="ativa">Ativa</label>
            <input type="checkbox" class="form-check-input" for="ativa" id="ativa" value="@Model.Ativa">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <button type="reset" class="btn btn-default">Cancelar</button>
        </div>
    </form>*@

