@using test.DTOs;
@model ExameDTO
@{
    ViewBag.Title = "Edicao";
}

@*
        @using (Html.BeginForm("Alterar", "Exame", FormMethod.Post, new { @id = "formEdicaoExame" }))
    {
    }
*@
<form action="/Exame/Alterar" id="formEdicaoExame" method="post">
    <div>
        <input type="hidden" name="ID" id="id-exame-edicao" value="@Model.ID" />
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-exame-edicao" name="Nome_Exame" value="@Model.Nome_Exame" required />
                </div>
                <div><span id="nomeExameEdicaoAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome em Ingles
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-exame-ingles-edicao" name="Nome_Exame_Ingles" value="@Model.Nome_Exame_Ingles" required />
                </div>
                <div><span id="nomeExameInglesEdicaoAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome Laboratorial
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-laboratorial-edicao" name="Nome_Laboratorial" value="@Model.Nome_Laboratorial" required />
                </div>
                <div><span id="nomeLaboratorialAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    MNE Solicitação
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="mne-solicitacao-edicao" name="MNE_Solicitacao" value="@Model.MNE_Solicitacao" required />
                </div>
                <div><span id="mneSolicitacaoAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Tipo Resultado
                </label>
            </div>
            <div class="div-input-validatiton">
                <select name="Tipo_Resultado" class="input" id="tipo-resultado-edicao" style="width: 177.27px; height:21.82px;" disabled>
                    <option value=""></option>
                    @foreach (var item in ViewBag.Empresa)
                    {
                        <option value=""></option>
                    }
                </select>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Custo do Exame
                </label>
            </div>
            <div class="div-input-validatiton">
                <select name="Exame_Custo" class="input" id="exame-custo-edicao" style="width: 177.27px; height: 21.82px;" disabled>
                    <option value=""></option>
                    @foreach (var item in ViewBag.Empresa)
                    {
                        <option value=""></option>
                    }
                </select>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Cod.eSocial
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="cod-categoria-esocial-exame-edicao" name="Cod_Categoria_eSocial" value="@Model.Cod_Categoria_eSocial" required />
                </div>
                <div><span id="codCategorialESocialAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Unidade de Medida
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="unidade-medida-edicao" name="Unidade_Medida" value="@Model.Unidade_Medida" required />
                </div>
                <div><span id="unidadeMedidaAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="container-parametro-normalidade">
            <b>Parâmetros de Normalidade</b>
            <div class="div-parametro-normalidade">
                <select name="Parametro_Normalidade" id="parametro-normalidade-edicao" class="input" style="width:30%;margin-right:5px;" disabled>
                    <option value=""></option>
                    @foreach (var item in ViewBag.Empresa)
                    {
                        <option value=""></option>
                    }
                </select>
                <input type="text" class="input" id="parametro-normalidade-edicao" name="Parametro_Normalidade" value="@Model.Parametro_Normalidade" required disabled />
            </div>
        </div>
        <div class="container-cb-main">
            <div class="check-container">
                <div class="container-sexo">
                    <b>Sexo</b>
                    <div class="checkbox">
                        <label for="masculino-edicao">
                            <input type="checkbox" class="input" id="masculino-edicao" name="Masculino" @Html.Raw(Model.Masculino ? "checked" : "") />
                            Masculino
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="feminino-edicao">
                            <input type="checkbox" class="input" id="feminino-edicao" name="Feminino" @Html.Raw(Model.Feminino ? "checked" : "")/>
                            Feminino
                        </label>
                    </div>
                </div>
                <div class="container-tipo-aso">
                    <b>Tipo de exame</b>
                    <input type="hidden" name="Tipo" value="@Html.Raw(Model.Tipo ? "true":"false")" id="tipo-edicao" />
                    <div class="checkbox">
                        <label for="tipo-laboratorial-edicao">
                            <input type="checkbox" class="input" id="tipo-laboratorial-edicao" onclick="unSelectOptionEdition('tipo-imagem-edicao')" @Html.Raw(Model.Tipo ? "checked" : "") />
                            Exame Laboratorial
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="tipo-imagem-edicao">
                            <input type="checkbox" class="input" id="tipo-imagem-edicao" onclick="unSelectOptionEdition('tipo-laboratorial-edicao')" @Html.Raw(Model.Tipo ? "" : "checked") />
                            Exame de Imagem
                        </label>
                    </div>
                </div>
            </div>
            <div class="container-ficha-aso-ativo">
                <div class="checkbox">
                    <label for="exibficha-edicao">
                        <input type="checkbox" class="input" id="exibficha-edicao" name="ExibFicha" @Html.Raw(Model.ExibFicha ? "checked" : "") />
                        Exibir Ficha
                    </label>
                </div>
                <div class="checkbox">
                    <label for="exibaso-edicao">
                        <input type="checkbox" class="input" id="exibaso-edicao" name="ExibASO" @Html.Raw(Model.ExibASO ? "checked" : "") />
                        Exibir ASO
                    </label>
                </div>
                <div class="checkbox">
                    <label for="ativo-exame-edicao">
                        <input type="checkbox" class="input" id="ativo-exame-edicao" name="Ativo" @Html.Raw(Model.Ativo ? "checked" : "") />
                        Ativo
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
