@using test.DTOs;
@using test.Models;
@model EmpregadosDTO
@{
    ViewBag.Title = "Criar";
    List<SetorModel> setores = ViewBag.Setor;
    List<FuncaoModel> funcoes = ViewBag.Funcao;
}
<form action="/EmpregadosDTO/Salvar" id="form" method="post">
    <div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    CPF
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="cpf" name="CPF" onkeyup="mascara('###.###.###-##',this,event,true)" maxlength="14" />
                </div>
                <div><span id="cpfAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <label class="lb-class">
                Empresa
            </label>
            <select name="Empresa" class="input" id="selected">
                <option value=""></option>
                @foreach (var empresa in ViewBag.Empresa)
                {
                    <option value="@empresa.ID">@empresa.RazaoSocial</option>
                }
            </select>
            <div><span id="cpfAlert" class="text-danger size-text-danger"></span></div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome" name="Nome" />
                </div>
                <div><span id="nomeAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    RG / Passaporte
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="rg-passaporte" name="RGPassaporte" onkeyup="mascara('##.###.###-#',this,event,true)" maxlength="12" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Matricula eSocial
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="matricula-e-social" name="MatriculaESocial" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nit / Pis / Pasep
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nit-pis-pasep" name="NitPisPasep" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome da Mãe
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-mae" name="NomeMae" />
                </div>
                <div><span id="nomeMaeAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Macionalidade
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nacionalidade" name="Nacionalidade" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Data Nascimento
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="date" class="input" id="data-nascimento" name="DataNascimento" required />
                </div>
                <div><span id="dataNascAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <label class="lb-class">
                Ultima ASO
            </label>
            <div class="div-input-validatiton">
                <div>
                    <input type="date" class="input" id="ultimo-aso" name="Ultimo_ASO" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Email
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="email" class="input" id="email" name="Email" required />
                </div>
                <div><span id="emailAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Celular
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="tel" class="input" id="celular" name="Celular" onkeyup="mascara('(##)#####-####',this,event,true)" maxlength="14" />
                </div>
                <div><span id="celularAlert" class="text-danger size-text-danger"></span> </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Sexo
                </label>
            </div>
            <select name="Sexo" class="input" id="sexo">
                <option></option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Tipo Sanguineo
                </label>
            </div>
            <select name="TipoSanguineo" class="input" id="tipo-sanguineo">
                <option></option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Função
                </label>
            </div>
            <select name="NomeFuncao" class="input" id="funcao">
                <option value=""></option>
                @foreach (var funcao in funcoes)
                {
                    if (funcao.Ativo)
                    {
                        <option value="@funcao.Id">@funcao.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Setor
                </label>
            </div>
            <select name="NomeSetor" class="input" id="setor">
                <option value=""></option>
                @foreach (var setor in setores)
                {
                    if (setor.Ativo)
                    {

                        <option value="@setor.Id">@setor.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Cod. eSocial
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="cod-categoria-e-social" name="CodCategoriaeSocial" />
                </div>
            </div>
        </div>
        <div class="div-form mb-3">
            <label class="lb-class">
                Ativo
            </label>
            <div>
                <input type="checkbox" class="input" id="ativo" name="Ativo" />
            </div>
        </div>
    </div>
</form>

