@using test.DTOs
@model List<EmpregadosDTO>


@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Tabela</h2>
</div>
<button type="button" data-toggle="modal" data-target="#cadastroModal" onclick="loadForm()">Cadastrar</button>

<div class="modal fade" id="cadastroModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Título do Modal</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="bodyModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">RG/Passaporte</th>
            <th scope="col">DataNascimento</th>
            <th scope="col">DataUltimaASO</th>
            <th scope="col">Setor</th>
            <th scope="col">Secto</th>
            <th scope="col">Função</th>
            <th scope="col">Function</th>
            <th scope="col">Empresa</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Atv. Economica</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dado in Model)
        {
            <tr>
                <th scope="row">@dado.Nome</th>
                <td>@dado.CPF</td>
                <td>@dado.RG_Passaport</td>
                <td>@dado.Data_Nascimento</td>
                <td>@dado.Ultimo_ASO</td>
                <td>@dado.Nome_Setor</td>
                <td>@dado.Nome_Setor_Ingles</td>
                <td>@dado.Nome_Funcao</td>
                <td>@dado.Nome_Funcao_Ingles</td>
                <td>@dado.Razao_Social</td>
                <td>@dado.CNPJ</td>
                <td>@dado.Atividade_Economica</td>
                <td>@dado.Cidade</td>
                <td>@dado.Estado</td>
            </tr>
        }

    </tbody>
</table>

<script>
    async function loadForm() {
        const urlFormulario = '/EmpregadosFullDTO/Criar';

        let response = await fetch(urlFormulario);
        let parsedResponse = await response.text();

        document.getElementById('bodyModal').innerHTML = parsedResponse;
    }
</script>